@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --background: #22252c;
  --card: #1E212B;
  --border: #8c8c8e;
  --text: #E6E8EE;
  --secondary-text: #9FA4B5;
  --accent: #E11D48;
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--card);
  --color-line: var(--border);
  --color-text: var(--text);
  --color-muted: var(--secondary-text);
  --color-accent: var(--accent);
  --font-arvo: "Arvo", serif;
  --font-mulish: "Mulish", sans-serif;
  --font-mono: "Space Mono", monospace;
}


body {
  @apply bg-background text-text font-sans;
}